@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:wght@300&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bg {
    @apply font-open-sans font-light bg-gradient-to-t bg-cover from-background to-white px-5 pt-5 md:px-10 md:pt-10;
  }

  .bg-alt {
    @apply font-open-sans font-light bg-background h-full px-5 mt-5 md:mx-10 md:mt-10;
  }

  .main {
    @apply sm:px-8 md:px-24 xl:px-60 py-10;
  }
}

@layer utilities {
  .clip-circle {
    clip-path: circle(45% at center);
  }
}
@layer base {
  html {
    @apply text-gray-800;
  }
}

@responsive {
  .text-shadow {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .text-shadow-md {
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.08);
  }

  .text-shadow-lg {
    text-shadow: 0 15px 30px rgba(0, 0, 0, 0.11), 0 5px 15px rgba(0, 0, 0, 0.08);
  }

  .text-shadow-none {
    text-shadow: none;
  }
}
